{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": ["plugin:react/recommended"],
  "plugins": ["react", "flowtype"],
  "env": {
    "browser": true
  },
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "comma-dangle": ["error", "always-multiline"],
    "object-curly-spacing": [2, "always"],
    "no-var": 2,
    "no-unused-vars": 2,
    "prefer-const": 2,
    "react/jsx-wrap-multilines": 2,
    "react/prefer-es6-class": 2,
    "react/prefer-stateless-function": [
      "error",
      { "ignorePureComponents": true }
    ],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", "always"],
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1
  }
}
